# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
package-lock.json

# Build output
dist
dist-ssr
build
output
.vite_cache
.cache
.eslintcache
coverage

# Env files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
*.bak
*.orig
._*

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
*.iml

# History & Sync
history/*.json
.sync

# Testing
jest-html-reporters-*.html
test-results/

# TypeScript
*.tsbuildinfo